@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: "Istok Web", sans-serif;
  font-size: 14pt;
  line-height: 1.5em;
  padding: 80px 500px 80px 500px
}

h1, h2, h3, h4, h5, h6 {
  font-size: 17pt;
  line-height: 1.2pt;
  font-weight: 600;
  margin-bottom: 0.8em
}

h1 {
  font-size: 1.8em;
  line-height: 1.2
}
h2 {
  font-size: 1.6em;
  margin-top: 23px;
  line-height: 1.2;
}

h3 {
  font-size: 1.2em;
  line-height: 1.2em
}

h4 {
  font-size: 1.3em;
}

p {
  margin-bottom: 23px;
}

strong {
  font-weight: 600
}

em {
  font-style: italic;
  padding-top: 100px;
  margin-bottom: 100px;
}

ul, ol {
  padding-left: 30px;
  margin-bottom: 23px;

}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul ul, ol ol {
  margin-top: 23px;
}

li {
  margin-bottom: 11.5px
}

blockquote {
  background: #ffffff;
  margin-bottom: 64px;
  border-left: 3px solid black;
  margin-left: -23px;
  padding-left: 23px
}

#p1 {
  color: rgba(0, 0, 0, 0.4);
}

p {
  margin-bottom: 2em
}

#img1 {
  margin-left: -154px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.gradient {
	display: inline-block;
	position: relative;
	line-height: 0;
  margin-left: -154px;

}
.gradient:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	background-image: linear-gradient(to top, blue, pink);
	opacity: 0.5;

}
